<!DOCTYPE html>
{% extends "assay_api_app/base.html" %}
  {% load static %}
  {% block custom_functions %}
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="{% static 'css/cell_count_fluo.css' %}">
      <script src="{% static 'scr/cell_count_fluo.js' %}"></script>
      <title>Image Upload</title>
  {% endblock %}

  {% block body_block %}
    <div class="upload-container" align="left">
      <h2>Upload a fluorescent Image for cell counting:</h2>
      <p>Formats accepted: .png, .jpeg, .jpg, .tif</p>
        <form method="post">
          {{ form.as_p }}
          {% csrf_token %}
        </form>
      <div class="preview">
          <img id="image-preview" src="#" alt="Image Preview" style="display:none;">
      </div>
    </div>
  {% endblock %}
