<!DOCTYPE html>
{% extends "assay_api_app/base.html" %}
  {% load static %}
  {% block custom_functions %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/cell_count_labelfree.css' %}">
    <title>Image Upload</title>
    <script src="{% static 'scr/cell_count_labelfree.js' %}"></script>
  {% endblock %}

  {% block body_block %}
    <div class="upload-container">
      <h2>Upload a label-free Image for cell counting:</h2>
      <p>Formats accepted: .png, .jpeg, .jpg, .tiff</p>
      <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
      </form>
    </div>
    <div class="preview">
        <img id="image-preview" src="#" alt="Image Preview" style="display:none;">
    </div>
  {% endblock %}
