<!DOCTYPE html>
{% extends "assay_api_app/base.html" %}
  {% load static %}
  {% block custom_functions %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/clono_assay.css' %}">
    <title>File Upload</title>
  {% endblock %}

  {% block body_block %}
    <div class="container" id="upload-container" align="left">
      <h1>Clonogenic Analysis(Label-free + Fluorescent)</h1>
      <br>
      <form class="clono_assay" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.name.label_tag }} {{ form.name }} <br><br>
        {{ form.cell_line.label_tag }} {{ form.cell_line }} <br><br>
        {{ form.num_wells.label }} {{ form.num_wells }} <br><br>
        {{ form.analysis_type.label }} {{ form.analysis_type }} <br><br>
        <h4>Provide path to .zip folder containing well images: </h4><br>
        <table class="image-inputs">
          <thead>
            <tr>
              <th></th>
              <th class="label">Day 1</th>
              <th class="label">Day n</th>
            </tr
          </thead>
          <tbody>
            <tr>
              <th class="label">Well 1  </th>
              <div class="w1">
                <td>
                    <div class="d-1">
                      {{ form.w1_d1_lf.label_tag }} {{ form.w1_d1_lf }}<br>
                      {{ form.w1_d1_fluo.label_tag }} {{ form.w1_d1_fluo }}<br><br>
                    </div>
                </td>
                <td>
                  <div class="d-n">
                    {{ form.w1_dn_lf.label_tag }} {{ form.w1_dn_lf }}<br>
                    {{ form.w1_dn_fluo.label_tag }} {{ form.w1_dn_fluo }}<br><br>
                  </div>
                </td>
              </div>
            </tr>
            <tr>
              <th class="label">Well 2  </th>
              <div class="w2">
                <td>
                  <div class="d-1">
                    {{ form.w2_d1_lf.label_tag }} {{ form.w2_d1_lf }}<br>
                    {{ form.w2_d1_fluo.label_tag }} {{ form.w2_d1_fluo }}<br><br>
                  </div>
              </td>
              <td>
                <div class="d-n">
                  {{ form.w2_dn_lf.label_tag }} {{ form.w2_dn_lf }}<br>
                  {{ form.w2_dn_fluo.label_tag }} {{ form.w2_dn_fluo }}<br><br>
                </div>
                </td>
              </div>
            </tr>
            <tr>
              <th class="label">Well 3  </th>
              <div class="w3">
                <td>
                  <div class="d-1">
                    {{ form.w3_d1_lf.label_tag }} {{ form.w3_d1_lf }}<br>
                    {{ form.w3_d1_fluo.label_tag }} {{ form.w3_d1_fluo }}<br><br>
                  </div>
              </td>
              <td>
                <div class="d-n">
                  {{ form.w3_dn_lf.label_tag }} {{ form.w3_dn_lf }}<br>
                  {{ form.w3_dn_fluo.label_tag }} {{ form.w3_dn_fluo }}<br><br>
                </div>
                </td>
              </div>
            </tr>
            <tr>
              <th class="label">Well 4  </th>
              <div class="w4">
                <td>
                  <div class="d-1">
                    {{ form.w4_d1_lf.label_tag }} {{ form.w4_d1_lf }}<br>
                    {{ form.w4_d1_fluo.label_tag }} {{ form.w4_d1_fluo }}<br><br>
                  </div>
              </td>
              <td>
                <div class="d-n">
                  {{ form.w4_dn_lf.label_tag }} {{ form.w4_dn_lf }}<br>
                  {{ form.w4_dn_fluo.label_tag }} {{ form.w4_dn_fluo }}<br><br>
                </div>
                </td>
              </div>
            </tr>
          </tbody>
        </table>
        <input id="submit-btn" type="submit" class="btn btn-primary" name="submit" value="Submit">
      </form>
    </div>
    <script src="{% static 'scr/clono_assay.js' %}"></script>
  {% endblock %}
