<!DOCTYPE html>
{% extends "assay_api_app/base.html" %}
  {% load static %}
  {% block custom_functions %}
    <link rel="stylesheet" href="{% static 'css/scellbio_landing.css' %}">
    <title>singlecell assay analysis</title>
    <script src="{% static 'scr/scellbio_landing.js' %}"></script>
  {% endblock %}

  {% block body_block %}
    <div class="assay-container" align="center">
        <button class="btn btn-primary btn-lg" onclick="location.href='{% url 'assay_api_app:cell_count_options' %}'">Cell counting </button>
        <button class="btn btn-primary btn-lg" onclick="location.href='{% url 'assay_api_app:clono_assay_options' %}'">Clonogenic Assay Analysis</button>
        <button class="btn btn-primary btn-lg" onclick="location.href='{% url 'assay_api_app:migration_assay' %}'">Migration Assay Analysis</button>
        <button class="btn btn-primary btn-lg" onclick="location.href='{% url 'assay_api_app:dormancy_assay_options' %}'">Dormancy Assay Analysis</button>
    </div>
  {% endblock %}
